fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
psycopg[binary]==3.2.9
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
pydantic-settings==2.5.2
python-multipart==0.0.9
alembic==1.13.3
APScheduler==3.10.4
qrcode[pil]==7.4.2
apscheduler==3.11.2
requests==2.32.5
